<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>admin</fullName>
  <description></description>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAABQxdVlhySaqq05XGH3HvLJxAQqAud1gAJV+VZRJyPas2/jlwJMTFzuW7tpbSYvgS2XLNTKVLxf3zfpn5LmvIkpEE6XAXE9CiF87Uy0bMGhapBcnu8+Tc2g5PRSY3DhhRZV}</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.20">
      <emailAddress></emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1506162145497</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.model.MyViewsProperty>
      <primaryViewName></primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$f.45X1RlHjfo2wa9tto6Duibj2s0ZfLbHclawznZgHQvo9gXjRtuG</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
      <authorizedKeys>ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDMaDxj9n7DuNaFhsteWMzJCtn9+iIWvFX2PGlT1K8uVjqHT0/mb13H1xiMP3WH9VI0jRGVmgyO4FG8LEYubX8Eh+xOMDnMNHRcJ+7YRe+kjZDSr/pCDGylO37JjJSRr5oKwIY8CJLcc+j55Qj1bj9uH7NoYdKdpNWZmU6O4UsaG3M+vvUekj/X2KZsOPdLNvB3k92h734+qz+I0M2+gWzOuxMcwi3f7s+ZxRakxb7GvtP1NXSBqNGl4GvJmrgg273Tdji3riEbMv3DqAt5UXceEkLKe6dJif0QhMLogpTy8jsdiZIrRys13eKYBir2vdzF5R0xdzWI5LJDWp+UWGouneGmhGCtHwk0W144veqB5FjxsMeJEa06A8VNpmbIU6qJfafRTm03KyHzunDZO/+NumJwa6l+awFRRbljg1GkB2OSXcPnku7Dhis8GL4987aoWyCMX613IcvIgmqJ2kimIaMrpx718oFOL43rAjbqbtmY0QuFhynFKI+y7lhxHnlTljekhOleq9nQmRDe502XJi5Q/hGaO+lVefdvPEv8EJuIJCanAhFnEBJIG7g48qDVvlSvyipQQ8bnkFXkz29I7UzKS8q30TYzqC8DoMNnSeLgaKk4ceF33TMSHNRSugH2lfyroAgzewEUm0PwX+bV+9VKmaTYtJDRB4uGFP6b5Q== ilchuk_n@ki-technology.ru</authorizedKeys>
    </org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
  </properties>
</user>